body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
  }
  
  input {
    margin: 5px;
    padding: 5px;
    width: calc(100% - 12px);
  }
  
  button {
    margin: 5px;
    padding: 5px;
  }
  